extends layout

block content
    header.clearfix
      span.brand ООО Контора
      span.tel +7 (999) 888-77-66
    main.background
      div.frontground.clearfix
        div.discount
          div| <prime>Весь август</prime>
          | для новых <br/>
          | клиентов <br/>
          | скидка <prime style="font-weight: bold">7%!</prime>
        div
          button.block.prim
            a(href="#") Скачать весь прайс-лист
          button.block
            a(href="#") Скачать каталог кранов LD
          button.block.long-text
            a(href="#") Скачать какалог кранов Стриж
          button.block
            a(href="#") Скачать каталог ADL
          button.block
            a(href="#") Скачать прайс ADL
          button.block.warn
            a(href="#") Посетить наш сайт

    //#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Оставьте свои данные.
          .modal-body
            | Это позволит Вам получать актуальную информацию по акциям,
            | распродажам и прайсам компании.
          .modal-footer
            form.form-horizontal
              .form-group
                label.col-sm-2.control-label(for='inputEmail') Email
                .col-sm-10
                  input#inputEmail.form-control(type='email', placeholder='Email')
              .form-group
                label.col-sm-2.control-label(for='inputName') Имя
                .col-sm-10
                  input#inputName.form-control(type='text', placeholder='Имя')
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') Отправить
    footer.clearfix
      span.brand 123123123
      span.tel
